doctype html
html
  head
    title Foxhole Veterans
    meta(viewport="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    
    link(rel="stylesheet" href="style/main.css")
    
  body
    header
      .container
        .row
          .col-2.offset-9.col-sm-1.offset-sm-10
            .red
        .row
          .col-10.offset-1
            img(src="img/logo.png" alt="Foxhole Veterans Association")
